body { color: white; font-family: Verdana }
a { color: white; cursor:default }
h1 { text-align: center; color: white }
h5 { text-align: center; color: white; margin: 2px }
p { color: white }
ul { color: white }
